<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-9060080612658200">

    <link rel="icon" href="/assets/img/icons/favicon.ico">
    <meta name="google-adsense-account" content="ca-pub-9060080612658200">
    <title>Disconnected | ELETRO</title>

    <!-- Link To CSS -->
    <link rel="stylesheet" href="/assets/CSS/main.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BV6V3GTMR0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BV6V3GTMR0');
</script>

<body>
    <body onload="AnimationLoading();">
        <!-- NavBar -->
        <header>
            <div class="loading">
                <div class="efect-loading"></div>
            </div>
        </header>

        <!-- Products -->
        
        <section class="container">
            <div class="section-disconnected">
                <h2 class="section-title">Disconnected</h2>
                <p>Você foi desconectado por segurança. Faça o login novamente para acessar sua conta.</p>
                <!-- Shop Content -->
                <div class="shop-content">
                <br>
                <a href="/users/login.html">
                    <button class="btn-default">Voltar</button>
                </a>
            </div>
            </div>
        </section>

        <div class="direitos">
            <p>Copyright © 2024 | Todos os Direitos Reservados | ELETRO</p>
            </div>

    
        <!-- Link To JS -->
        <script src="/javascript/loading.js"></script>
    
        </body>
    </html>
</body>
</html>